<%- include('../partials/html-head') %>
  <body>
    <h1><%= title %></h1>
    <nav>
      <a href="/flights">All Flights</a>
      <a href="/flights/new">Add Flight</a>
    </nav>
    <%- include('../partials/footer') %>
